@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family:'android';
    src: url('aqui/idroid/IDroid.otf') format('opentype');
    font-weight:normal ;
    
}


/*
    #83e1ad;
    #3ddc84;
    #2fa866;
    #1a5c37;
    #063d1e;
*/



:root{
    --cor0: #83e1ad;
    --cor1: #2f965d;
    --cor2: #23a75e;
    --cor3: #224933;
    --cor4: #032412;
            
        --fonte-padrao:arial,verdana,helvetica,sans-serif;   
        --font-destaque: "Bebas Neue", sans-serif;
        --font-android:'android',cursive;

}
*{
    margin: 0px;
    padding:0px;
}


body {
    background-color: #6b9e81;
    font-family:(--fonte-padrao) 
    
}

a.externo::after{
    content:'\00a0\1F517';
}

header{
    background-color: #063d1e;
    min-height: 150px;
    padding: 40px;
    text-align: center;
    background-image:linear-gradient(to bottom,var( --cor1),var(--cor4));
    
}
header >h1{
    color: rgb(255, 255, 255);
    font-family: var(--font-destaque);
    font-size: 3em;
    text-shadow: 5px 5px 0px #000000;
    
}
header h2{
    color: #ffffff;
    font-family: var(--fonte-padrao);
    text-shadow: 5px 5px 0px #000000;
    margin: auto;
    font-size: 2.2em;
}


main{ background-color: rgb(255, 255, 255);
    min-width: 300px;
    max-width: 900px;
    margin-bottom: 20px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;

}

main img{
    width: 100%;

}


main p{
    margin:15px 0px;
    text-align: justify;
    text-indent:30px ;
    line-height: 2em;
    font-size: 1,8em;

}
main strong{
    color: #000000;
    font-size: bold;
    padding: 2px,6px;
    
}

main a{
    background-color: #7ae731;
    color: #000000;
    padding: 2px;
    text-decoration:none;
    background-image: linear-gradient(to right,var(--cor2),#a3bbad);
}

main a :hover{
    text-decoration: underline;
    color: #05c257;
    
}



nav >a{
    color: rgb(255, 255, 255);
    padding: 4px;
    text-decoration: none;
    font-family: bold;
    border-radius: 0px;
    transition-duration: 0,8s;
    padding: 0.5em;

}
nav a:hover{
    background-color: #4ddb55;
    color: #000000;
    color: #000000;
    background-image: linear-gradient(to right,var(--cor2),#a3bbad);
    padding: 0px;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: #032412;
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}



main h1{
    color: #0f301d;
    font-family: var(--font-android);
    background-image: linear-gradient(to right,var(--cor2),transparent);
    text-indent: 8px;
    font-weight: normal;
    font-size: 1,8em;
}

main h2{
    font-family: var(--font-android);
    color: #032412;
    font-size: 1,8;
    background-image: linear-gradient(to right,var(--cor2),transparent);
    text-indent: 8px;
    font-weight: normal;
}

aside{
    background-color: #64a880;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(44, 38, 38);
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0\00a0';
}

aside h3{
    background-color: #063d1e;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-size:normal
    ;
    
}


footer {
    background-color: #6ab189;
    font-family: rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
}
footer a{
    color: #000000;
    
}
footer :hover{
    text-decoration: none;
    padding: 1px;
    text-indent: 6px;
    color: #000000;
    background-color: #ffffff;
    background-image: linear-gradient(to right,var(--cor2),#a3bbad);

}